{
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "brace-style": [2, "stroustrup"],
    "comma-dangle": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "padded-blocks": 0,
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "spaced-comment": 1
  },
  "extends": "airbnb-base",
  "globals": {
    "PluginManager": true,
    "PluginAnalyzer": true,
    "$plugins": true
  },
  "env":{
    "browser": true
  }
}
